<div class="container-fluid footer-container">
    <div class="copyright-text">
        Copyright © 2024 LEC Energy Consuption (Pvt) Ltd.
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-start align-items-center ms-1 me-2">
            <img width="18" src="./assets/images/footer-images/phone.png"><span class="ms-2">0321-6080000</span>
        </div>
        <div class="d-flex justify-content-start align-items-center ms-2">
            <img width="18" src="./assets/images/footer-images/mail.png"><span class="ms-2">{{email}}</span>
        </div>
    </div>
</div>