
<div class="parent">
    <div class="container">
        <div class="login-box">
            <h2>Login</h2>
            <form [formGroup]="loginForm"  (ngSubmit)="onLogin()">
                <div>
                <div class="input-box mb-0">
                    <input type="email"  name="UserName" formControlName="UserName">
                    <label>Email</label>
                </div>
                <div *ngIf="loginForm.controls['UserName'].touched && !loginForm.controls['UserName'].valid">
                    <div *ngFor="let validation of validationMessages.email" class="text-danger ">
                        <p class="form-control-feedback font-small mb-0 mt-1 ms-2"
                            *ngIf="loginForm.controls['UserName'].hasError(validation.type)">
                            {{ validation.message }}
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="input-box mb-0">
                    <input type="password" name="Password" formControlName="Password">
                    <label>Password</label>
                </div>
                <div *ngIf="loginForm.controls['Password'].touched && !loginForm.controls['Password'].valid">
                    <div *ngFor="let validation of validationMessages.password" class="text-danger ">
                        <p class="form-control-feedback font-small mb-0 mt-1 ms-2"
                            *ngIf="loginForm.controls['Password'].hasError(validation.type)">
                            {{ validation.message }}
                        </p>
                    </div>
                </div>
            </div>
                <button type="submit" class="btn mt-3"   [disabled]="loginForm.invalid">Login</button>
            </form>
        </div>
    </div>
</div>
