.history-wrapper{
    .history-page-title{
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        color:black;
        
    }
}

.data-unavailable{
    font-size: 25px;
    font-weight: 600;
    color:#184659;
}


