
<div class="container-fluid p-0">
    <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row gx-0 mt-2">
            <div class="col-12 form-title-wrapper">
                <div class="form-title">
                    Personal Details:
                </div>
                <button type="submit" class="btn submit-btn">Update</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                <div class="form-group mb-0">
                    <label class="form-label">Full Name:<span class="text-danger fw-bold">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter name" formControlName="FullName" />
                    <div *ngIf="form.controls['FullName'].touched && !form.controls['FullName'].valid">
                        <div *ngFor="let validation of validationMessages?.name" class="text-danger ">
                            <span class="form-control-feedback font-small mt-2"
                                *ngIf="form.controls['FullName'].hasError(validation.type)">
                                {{ validation.message }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                <div class="form-group mb-0">
                    <label class="form-label">Email:<span class="text-danger fw-bold">*</span></label>
                    <input type="text" class="form-control" placeholder="user@domain.com" formControlName="EmailAddress" />
                    <div *ngIf="form.controls['EmailAddress'].touched && !form.controls['EmailAddress'].valid">
                        <div *ngFor="let validation of validationMessages?.email" class="text-danger ">
                            <span class="form-control-feedback font-small mt-2 ms-2"
                                *ngIf="form.controls['EmailAddress'].hasError(validation.type)">
                                {{ validation.message }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                <div class="form-group mb-0">
                    <label class="form-label">Mobile:<span class="text-danger fw-bold">*</span></label>
                    <input type="text" mask="0000-0000000" class="form-control" placeholder="03xx-xxxxxxx" formControlName="MobileNo" />
                    <div *ngIf="form.controls['MobileNo'].touched && !form.controls['MobileNo'].valid">
                        <div *ngFor="let validation of validationMessages?.mobile" class="text-danger ">
                            <span class="form-control-feedback font-small mt-2 ms-2"
                                *ngIf="form.controls['MobileNo'].hasError(validation.type)">
                                {{ validation.message }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                <div class="form-group mb-0">
                    <label class="form-label">Cnic:<span class="text-danger fw-bold">*</span></label>
                    <input type="text" mask="00000-0000000-0"  class="form-control" placeholder="3xxxxx-xxxxxxx-x" formControlName="CnicNo" />
                    <div *ngIf="form.controls['CnicNo'].touched && !form.controls['CnicNo'].valid">
                        <div *ngFor="let validation of validationMessages?.cnic" class="text-danger ">
                            <span class="form-control-feedback font-small mt-2 ms-2"
                                *ngIf="form.controls['CnicNo'].hasError(validation.type)">
                                {{ validation.message }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-2">
                <div class="form-group mb-0">
                    <label class="form-label">Address:</label>
                    <input type="text" class="form-control" placeholder="Enter addrress" formControlName="FullAddress" />
                    <div *ngIf="form.controls['FullAddress'].touched && !form.controls['FullAddress'].valid">
                        <div *ngFor="let validation of validationMessages?.address" class="text-danger ">
                            <span class="form-control-feedback font-small mt-2 ms-2"
                                *ngIf="form.controls['FullAddress'].hasError(validation.type)">
                                {{ validation.message }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                <div class="form-group mb-0">
                    <label class="form-label">City:<span class="text-danger fw-bold">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter city" formControlName="CityName" />
                    <div *ngIf="form.controls['CityName'].touched && !form.controls['CityName'].valid">
                        <div *ngFor="let validation of validationMessages?.value" class="text-danger ">
                            <span class="form-control-feedback font-small mt-2 ms-2"
                                *ngIf="form.controls['CityName'].hasError(validation.type)">
                                {{ validation.message }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form role="form" [formGroup]="loginForm" (ngSubmit)="onLoginDetailSubmit()">
        <div class="row gx-0 mt-3">
            <div class="col-12 form-title-wrapper">
                <div class="form-title">
                    Login Details:
                </div>
                <button type="submit" class="btn submit-btn">Update</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                <div class="form-group mb-0">
                    <label class="form-label">Username:</label>
                    <input type="text" class="form-control" placeholder="Enter username" formControlName="UserName" />
                    <div *ngIf="loginForm.controls['UserName']?.touched && loginForm.controls['UserName']?.invalid">
                        <div *ngFor="let validation of validationMessages.name" class="text-danger ">
                            <span class="form-control-feedback font-small mt-2 ms-2"
                                *ngIf="loginForm.controls['UserName']?.hasError(validation.type)">
                                {{ validation.message }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                <div class="form-group mb-0">
                    <label class="form-label">Password:</label>
                    <input type="password" class="form-control" placeholder="********" formControlName="Password" />
                    <div *ngIf="loginForm.controls['Password']?.touched && loginForm.controls['password']?.invalid">
                        <div *ngFor="let validation of validationMessages?.password" class="text-danger ">
                            <span class="form-control-feedback font-small mt-2 ms-2"
                                *ngIf="loginForm.controls['Password']?.hasError(validation.type)">
                                {{ validation.message }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                <div class="form-group mb-0">
                    <label class="form-label">New Password:</label>
                    <input type="password" class="form-control" placeholder="********" formControlName="NewPassword" />
                    <div *ngIf="loginForm.controls['NewPassword']?.touched && loginForm.controls['NewPassword']?.invalid">
                        <div *ngFor="let validation of validationMessages?.password" class="text-danger ">
                            <span class="form-control-feedback font-small mt-2 ms-2"
                                *ngIf="loginForm.controls['NewPassword']?.hasError(validation.type)">
                                {{ validation.message }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                <div class="form-group mb-0">
                    <label class="form-label">Confirm New Password:</label>
                    <input type="password" class="form-control" placeholder="********" formControlName="confirm_new_password" />
                    <div *ngIf="loginForm.controls['confirm_new_password'].touched && loginForm.controls['confirm_new_password'].invalid">
                        <div *ngFor="let validation of validationMessages.confirmPassword" class="text-danger ">
                            <span class="form-control-feedback font-small mt-2 ms-2"
                                *ngIf="loginForm.controls['confirm_new_password'].hasError(validation.type)">
                                {{ validation.message }}
                            </span>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </form>
    <form role="form" [formGroup]="meterForm" (ngSubmit)="onMeterSubmit()">
        <ng-container formArrayName="meter_detail">
            <div class="col-12 mt-3 form-title-wrapper">
                <div class="form-title">
                    Meter Details:
                    <button type="button" class="btn plus-btn ms-1 p-relative" (click)="addMeterDetails()"><i class="fa fa-plus center"></i></button>
                </div>
                <button type="submit" class="btn submit-btn">Add</button>
            </div>
            <div class="row gx-0" *ngFor="let detail of meter_detail?.controls;let i=index;"  [formGroupName]="i">
                <div class="col-12 p-2 d-flex justify-content-between align-items-center">
                    <div class="form-title">
                        <b>Meter {{i+1}}:</b>
                    </div>
                    <i class="fa fa-trash" (click)="meter_detail.removeAt(i)"></i>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                    <div class="form-group mb-0">
                        <label class="form-label">Meter Number:<span class="text-danger fw-bold">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter meter number" formControlName="MeterNo" />
                        <div *ngIf="detail.get('MeterNo')?.touched && detail.get('MeterNo')?.invalid">
                            <div *ngFor="let validation of validationMessages?.value" class="text-danger ">
                                <span class="form-control-feedback font-small mt-2 ms-2"
                                    *ngIf="detail.get('MeterNo')?.hasError(validation.type)">
                                    {{ validation.message }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                    <div class="form-group mb-0">
                        <label class="form-label">Reference Number:<span class="text-danger fw-bold">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter meter number" formControlName="RefNo" />
                        <div *ngIf="detail.get('RefNo')?.touched && detail.get('RefNo')?.invalid">
                            <div *ngFor="let validation of validationMessages?.value" class="text-danger ">
                                <span class="form-control-feedback font-small mt-2 ms-2"
                                    *ngIf="detail.get('RefNo')?.hasError(validation.type)">
                                    {{ validation.message }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                    <div class="form-group mb-0">
                        <label class="form-label">Old Reference Number:<span class="text-danger fw-bold">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter meter number" formControlName="OldRefNo" />
                        <div *ngIf="detail.get('OldRefNo')?.touched && detail.get('OldRefNo')?.invalid">
                            <div *ngFor="let validation of validationMessages?.value" class="text-danger ">
                                <span class="form-control-feedback font-small mt-2 ms-2"
                                    *ngIf="detail.get('OldRefNo')?.hasError(validation.type)">
                                    {{ validation.message }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                    <div class="form-group mb-0">
                        <label class="form-label">Connection Date:<span class="text-danger fw-bold">*</span></label>
                        <input type="date" class="form-control" placeholder="Enter meter number" formControlName="ConnectionDate" />
                        <div *ngIf="detail.get('ConnectionDate')?.touched && detail.get('ConnectionDate')?.invalid">
                            <div *ngFor="let validation of validationMessages?.value" class="text-danger ">
                                <span class="form-control-feedback font-small mt-2 ms-2"
                                    *ngIf="detail.get('ConnectionDate')?.hasError(validation.type)">
                                    {{ validation.message }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                    <div class="form-group mb-0">
                        <label class="form-label">Meter Load:<span class="text-danger fw-bold">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter meter number" formControlName="MeterLoad" />
                        <div *ngIf="detail.get('MeterLoad')?.touched && detail.get('MeterLoad')?.invalid">
                            <div *ngFor="let validation of validationMessages?.value" class="text-danger ">
                                <span class="form-control-feedback font-small mt-2 ms-2"
                                    *ngIf="detail.get('MeterLoad')?.hasError(validation.type)">
                                    {{ validation.message }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                    <div class="form-group mb-0">
                        <label class="form-label">Status:<span class="text-danger fw-bold">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter meter number" formControlName="StatusID" />
                        <div *ngIf="detail.get('StatusID')?.touched && detail.get('StatusID')?.invalid">
                            <div *ngFor="let validation of validationMessages?.value" class="text-danger ">
                                <span class="form-control-feedback font-small mt-2 ms-2"
                                    *ngIf="detail.get('StatusID')?.hasError(validation.type)">
                                    {{ validation.message }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2">
                    <div class="form-group mb-0">
                        <label class="form-label">Meter Type:<span class="text-danger fw-bold">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter meter number" formControlName="meter_type" />
                        <div *ngIf="detail.get('meter_type')?.touched && detail.get('meter_type')?.invalid">
                            <div *ngFor="let validation of validationMessages?.value" class="text-danger ">
                                <span class="form-control-feedback font-small mt-2 ms-2"
                                    *ngIf="detail.get('meter_type')?.hasError(validation.type)">
                                    {{ validation.message }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </ng-container>
    </form>
</div>