<div class="header-wrapper"  [class.scrolled]="isScrolled" [ngClass]="{'calculated-width':isSidebarOpen==true}">
    <div class="row gx-0 w-100">
        <div class="col-lg-1 col-md-1 col-sm-2 col-2 d-flex justify-content-start align-items-center">
            <i class="fa fa-bars" (click)="onToggleSidebar()"></i>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-8  header-title-box">
            <img width="70" src="../../../../assets/images/lesco-logo.png">
            <div class="header-title mb-0">
                <b>lesco</b> Energy Consumption
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-2 d-flex justify-content-end align-items-center">
            <div class="profile-icon-box">
                <img src="../../../../assets/images/default-profile.png">
            </div>
        </div>
    </div>
</div>