/* You can add global styles to this file, and also import other style files */
@import "./assets/base.scss";



//overriding

ul {
    padding: 0.2rem 0.4rem !important;
}

.dd-override.p-dropdown {
    border-radius: 12px !important;
    border-color: #589BB6 !important;

    .p-placeholder {
        color: #000 !important;
    }
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track styling */
::-webkit-scrollbar-track {
    background: #EEE;
    border-radius: 8px;
}

// /* Handle styling */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

// /* Handle hover styling */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


//Class for Alerts

.custom-alert-btn{
        background-color: #0ef !important;

}


